@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "lato", sans-serif;
    line-height: calc(1em + 0.5rem);
  }

  header {
    padding: 2% 10rem;
    /* background-color: red; */
    

  }

  .header-up {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .logo {
    width: 200px;
    height: 39px;
  }

  nav {
    display: contents;
  }

  nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    color: #1D2C3C;
    font-weight: 700;
    font-size: 14px;
}

li a.active {
  border-radius: 6px;
  border: 3px solid #646E7A;
  padding: 10px 20px;
}

.header-up::after {
    content: '';
    display: block;
    height: 3px; 
    width: 100%;
    background-color: #E0E6EA;
   
    position: absolute;
    bottom: -45px;
    left: 0;
}

.main-container {
    margin: 5% auto;
    display: flex;
    width: 892px;
    height: auto;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05), 0px 15px 35px 0px rgba(43, 64, 78, 0.10);
    position: relative;   
}

.main-left {
  width: 65%;
  margin-inline: auto;
  padding: 1rem 3rem;
}

h1 {
  padding: 3rem 0;
  font-size: 30px;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* position: relative;  */

}

h1::before {
  content: '';
  position: absolute;
  top: 9.3rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F5F7FA;;
}

.section-basic {
  margin: 2.5rem 0;
}

.section-payment {
margin: 5rem 0 2.5rem 0;
}

.card-details {
  padding-top: 1.23rem;
  padding-bottom: 1rem;
}

.child-input {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

input[name="credit-card"] {
  width: 60%;
  border-end-end-radius: 0%;
  border-start-end-radius: 0%;
}

.reduce-width {
  width: 20%;
  border-radius: 0%;
}



.section-basic::before {
  content: '';
  position: absolute;
  top: 27rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F5F7FA;;
}

.section-payment::before {
  content: '';
  position: absolute;
  top: 39rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F5F7FA;;
}

h3 {
  font-size: 16px;
  margin-bottom: 1rem ;
}

/* .circle {
  width: 30px;
  height: 30px;
  padding: 15px;
  border: solid black 2px;
  border-radius: 50px;
  margin-right: 50px;
} */


.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid #548BC5 3px;
  color: #548BC5;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.names-container {
    display: flex;
    align-content: center;
    gap: 2rem;

}

input {
  box-sizing: border-box;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #EDEFF2;
  border-radius: 5px;
  height: 36px;
}

.names-container input {
    color: red;
    width: 100%;
    height: 36px;
}

.names {
  width: 100%;
}
.emaill {
    margin-top: 1rem;
}

.emaill input {
  width: 70%;
  height: 36px;
}

label {
  /* margin-bottom: 1px; */
  display: inline-block;
  padding-bottom: .5rem;
}

.names {
  width: 100%;
}

.card-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #ccc; */
  /* padding: 10px; */
}

/* .card-details {
  display: flex;
  gap: px;
} */


.purchase {
  margin: 3rem 0 .8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


button {
  width: 100%;
  height: 52px;
  background-color: #038E7D;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

.purchase p {
  margin: 1.5rem 0;
  /* text-align: center; */
  color: #646E7A;
}

strong {
  font-weight: 700;
  color: #1D2C3C;
}

footer {
  position: relative;
  bottom: 50px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;

  span {
    color: #038E7D;
  }
}

.side-bar {
  margin-left: 1px;
  width: 35%;
  background-color: #1179BF;
  border-radius: 0 5px 5px 0;
  z-index: 1000;
}

.side-bar-content {
  margin: 3rem 3rem;
  padding-top: 1rem;
}

.small-details {
  display: flex;
}

.side-bar-content h3 {
  color: #FFFFFF;
  font-size: 20px;
}
.plan {
  margin-bottom: 2rem;
}
.pricing {
  display: flex;
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.pricing p:nth-child(2) {
  font-size: 60px;
  font-weight: 300;
  
}

.pricing p:first-child {
  margin-top: 15px; 
  font-size: 20px;
  padding-right: 5px;
}

.pricing p:last-child {
  margin-top: 35px;
  font-size: 20px;
}

.automatically {
  color: #FFFFFF;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.008px;
}

.details-group {
  display: grid;
  gap: 1rem;
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}

.small-details p {
  margin-left: 10px;
}

.switch {
  position: relative;
}
.switch p {
color: #FFF;
font-size: 16px;
font-style: normal;
line-height: 2rem;
font-weight: 400;
letter-spacing: -0.008px;
margin-bottom: 2.5rem;
}

.switch span {
  font-weight: 700;
}

.line1 {
  position: absolute;
  width: 180px;
  height: 4px;
  flex-shrink: 0;
  top: 54px;
  opacity: 0.5036;
  background-color: #B9F5FF;;
}

.line2 {
  width: 100%;
  height: 2px;
  opacity: 0.2005;
  background: #FFF;

}

.quoute {
  color: #FFF;
  margin: 2.5rem 0;
  /* font-family: Lato; */
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.009px;
}

.quoute span {
  font-weight: 700;
}

.customer {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
}

.customer img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.customer p {
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
}
